node_modules
npm-debug.log
.git
.gitignore
.env
Dockerfile
.dockerignore
README.md
Practicas/Practica 2/postman/collections/
Practicas/Practica 2/postman/documents/
Practicas/Practica 2/postman/environments/
Practicas/Practica 2/postman/flows/
Practicas/Practica 2/postman/mocks/
Practicas/Practica 2/postman/specs/




Practicas/Practica 2/Parte 2/GUIA_COMPLETA.md
Practicas/Practica 2/Parte 2/INFORME_PARTE*.md
Practicas/Practica 2/Parte 2/README.md